.bold {
	font-weight: 500;
}

.sternCalendar, .ycCalendar {
	margin-top: -85px;
}

nav, h4 {
	position: fixed;
	padding-left: 15px;

}

nav {
	background-color: #296CD1;
}

.col.s12.m3.search {
	margin-top: 40px;
}